@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --primary: #2a94f4;
  --primary-light: #cce9ff;
  --secondary: #ffbe55;
  --warning: #ff5555;
  --gray-light: #f2f2f2;
  --dark-0: #353739;
  --dark-1: #43474b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 1rem == 10px*/
  font-family: 'Roboto', sans-serif;
}

/* ================== COMPONENTS=========== */

.spinnerContainer{
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.spinnerContainer p {
  font-size: 1.5rem;
  font-weight: bold;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  width: 7rem;
  height: 7rem;
  margin-left: 5rem;
  cursor: pointer;
}

.navigation__container {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.navigation__item {
  color: var(--dark-1);
  font-size: 1.5rem;
  margin-left: 5rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.menuIcon {
  font-size: 2rem;
  color: var(--gray-light);
  display: none;
}

.navigation-mobile {
  background-color: var(--gray-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.link-mobile {
  color: var(--dark-1);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: bold;
}

.footer {
  font-weight: thin;
  font-size: 1.1rem;
  text-align: center;
}
/*============= HOME =============== */

.home {
  display: flex;
  justify-content: center;
}

.suggestion-section {
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.suggestion-section__btn {
  text-decoration: none;
  background-color: var(--warning);
  border: none;
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  color: var(--gray-light);
  cursor: pointer;
  transition: background-color 0.6s;
}

.suggestion-section__btn:hover{
  background-color: var(--secondary)
}

.suggestion-section__title {
  font-size: 1.7rem;
  text-align: center;
  margin-top: 7rem;
}

.suggestion-section__subtitle {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem 0;
  font-weight: normal;
}

.speakerImage {
  width: 35rem;
  height: 35rem;
}

/*=================== PESQUISA FORM =========*/

.formContainer{
  max-width: 400px;
  margin:2rem auto;
  padding: 0 1rem;
}

.form{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--gray-light);
  border-radius: 10px;
}

.form > input {
  border: none;
  border-radius: 5px;
  font-size: 1.05rem;
  padding: .5rem;
  margin-bottom: 1rem;
}

.form > label {
 font-weight: bold;
 color: var(--dark-1);
 margin-bottom: .5rem;
}

.form input[type="submit"]{
  background-color: var(--dark-1);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.form small{
  text-align: center;
  font-weight: bold;
}

.reviewBox{
  display: flex;
  justify-content: space-evenly;
  padding: .5rem 1rem;
  margin: 1rem 0 2rem 0;
  background-color: var(--secondary);
  border-radius: 8px;
}

.reviewBox > label{
  text-align: center;
}

.fieldError{
  font-weight: bold;
  color: var(--warning);
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.cupom{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--gray-light);
  border-radius: 10px;
  max-width: 720px;
  margin: 5rem auto;
  height: 10rem;
  border-left: solid 1rem var(--primary);
}

.cupom p{
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.success > p{
  margin-top: 3rem;
  font-size: 2rem;
  text-align: center;
}

#printMessage{
  color: var(--warning);
}

/*=================== MEDIA QUERY=========*/


@media (max-width: 1366px) {
  html {
    font-size: 100%; /* 1rem == 16px*/
  }
  .navigation__item {
    font-size: 1.2rem;
  }
}

@media (max-width: 1020px) {
  .speakerImage {
    width: 30rem;
    height: 30rem;
  }

  .suggestion-section__title {
    font-size: 1.4rem;
  }

  .suggestion-section__subtitle {
    font-size: 1.3rem;
  }

  .suggestion-section__btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin-bottom: 3.5rem;
  }
}

@media (max-width: 948px) {
  .home {
    flex-wrap: wrap;
  }

  .speakerImage {
    width: 15rem;
    height: 15rem;
    display: block;
  }

  .navigation__logo {
    width: 5rem;
    height: 5rem;
    margin-left: 1.2rem;
  }

  .suggestion-section__title {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0 0 0;
  }

  .navigation-mobile { /*this will make menu open, but wont be explicit like "display:block" */
    display: flex;
  }
  .suggestion-section {
    order: 2;
    width: 90%;
  }
  .navigation__container {
    display: none;
  }
  .menuIcon {
    display: block;
    font-size: 1.5rem;
    margin-right: 2rem;
    color: var(--dark-0);
  }
  .footer{
    font-size: 1.2rem;
  }
}

@media (max-width: 720px) {

  .cupom{
    margin-left: 1rem;
    margin-right: 1rem;
    height: 14rem;
  }

.link-mobile {
  font-size: 1rem;
}

.speakerImage {
    width: 15rem;
    height: 15rem;
    display: block;
  }

.navigation__logo {
  width: 3rem;
  height: 3rem;
  margin-left: 1.2rem;
 }
.menuIcon {
  margin-right: 1.3rem;
  font-size: 1.4rem;
}
.suggestion-section__title {
  font-size: 1.4rem;
  text-align: center;
  margin: 0;
}


.suggestion-section__subtitle{
  margin-top: 1rem;
  font-size: 1.2rem;
}

.suggestion-section__btn {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  margin-bottom: 3.5rem;
}

.footer{
  font-size: 1rem;
}

}



